*{
    padding: 0;
    margin: 0;
}
header{
    padding: 17px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
button{
    padding: 18px;
    border: none;
    border-radius: 2px;
    margin-left: 8px;
}
.but-cart{
    /* background-color: rgb(1, 75, 1); */
    background-color: rgb(2, 120, 2);
    color: #fff;
    
}
.but-cart:hover{
    transition: 0.3s;
    background-color: rgb(1, 75, 1);
}
.deliver{
    width: 150px;
    margin-left: 10px;
   padding: 10px;
}
h1{
color: orange;
}
.logo-name{
    color: rgb(0, 253, 0);
}
.search-bar{
    margin-right: 200px;
    width: 750px;
    height: 50px;
    padding: 20px;
    border: none;
    border-radius: 10px;

}
.search{
    height: 20px;
    position: relative;
    left: 25px;
    top: 4px;
}
.image{
    background-color: black;
    position: relative;
    left: 129px;
    bottom: -18px;
    height: 15px;
}